igctx.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="https://ingrid-oss.eu/schemas/igctx"
           elementFormDefault="qualified"
           version="1.0.0"
           xmlns:igctx="https://ingrid-oss.eu/schemas/igctx"
           xmlns:gco="http://www.isotc211.org/2005/gco"
           xmlns:gmd="http://www.isotc211.org/2005/gmd"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:annotation>
        <xs:documentation>InGrid Geometry Context schema definition for NOKIS.</xs:documentation>
    </xs:annotation>
    <xs:import schemaLocation="https://www.isotc211.org/2005/gco/gco.xsd" namespace="http://www.isotc211.org/2005/gco" />
    <xs:import schemaLocation="https://www.isotc211.org/2005/gmd/gmd.xsd" namespace="http://www.isotc211.org/2005/gmd" />
    <!-- =================================================================== -->
    <xs:complexType name="GeometryContext_Type">
        <xs:complexContent>
            <xs:extension base="gmd:AbstractMD_SpatialRepresentation_Type">
                <xs:sequence>
                    <xs:element name="geometryType" type="gco:CharacterString_PropertyType" />
                    <xs:element name="geometricFeature" type="igctx:GeometricFeature_PropertyType" maxOccurs="unbounded" />
                </xs:sequence>
                <xs:attribute ref="gco:isoType" fixed="AbstractMD_SpatialRepresentation_Type" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- ................................................................... -->
    <xs:element name="MD_GeometryContext" type="igctx:GeometryContext_Type" substitutionGroup="gmd:AbstractMD_SpatialRepresentation" />
    <!-- ................................................................... -->
    <xs:complexType name="GeometryContext_PropertyType">
        <xs:sequence minOccurs="0">
            <xs:element ref="igctx:MD_GeometryContext" />
        </xs:sequence>
        <xs:attributeGroup ref="gco:ObjectReference" />
        <xs:attribute ref="gco:nilReason" />
    </xs:complexType>
    <!-- =================================================================== -->
    <xs:complexType name="AbstractGeometricFeature_Type" abstract="true">
        <xs:complexContent>
            <xs:extension base="gco:AbstractObject_Type">
                <xs:sequence>
                    <xs:element name="featureName" type="gco:CharacterString_PropertyType" />
                    <xs:element name="featureDescription" type="gco:CharacterString_PropertyType" />
                    <xs:element name="featureDataType" type="gco:CharacterString_PropertyType" />
                    <xs:element name="featureAttributes" type="igctx:FeatureAttributes_PropertyType" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- ................................................................... -->
    <xs:element name="AbstractGeometricFeature" type="igctx:AbstractGeometricFeature_Type" abstract="true" />
    <!-- ................................................................... -->
    <xs:complexType name="GeometricFeature_PropertyType">
        <xs:sequence minOccurs="0">
            <xs:element ref="igctx:AbstractGeometricFeature" />
        </xs:sequence>
        <xs:attributeGroup ref="gco:ObjectReference" />
        <xs:attribute ref="gco:nilReason" />
    </xs:complexType>
    <!-- =================================================================== -->
    <xs:complexType name="NominalFeature_Type">
        <xs:complexContent>
            <xs:extension base="igctx:AbstractGeometricFeature_Type" />
        </xs:complexContent>
    </xs:complexType>
    <!-- ................................................................... -->
    <xs:element name="NominalFeature" type="igctx:NominalFeature_Type" substitutionGroup="igctx:AbstractGeometricFeature" />
    <!-- ................................................................... -->
    <xs:complexType name="NominalFeature_PropertyType">
        <xs:sequence minOccurs="0">
            <xs:element ref="igctx:NominalFeature" />
        </xs:sequence>
        <xs:attributeGroup ref="gco:ObjectReference" />
        <xs:attribute ref="gco:nilReason" />
    </xs:complexType>
    <!-- =================================================================== -->
    <xs:complexType name="OrdinalFeature_Type">
        <xs:complexContent>
            <xs:extension base="igctx:AbstractRangedGeometricFeature_Type" />
        </xs:complexContent>
    </xs:complexType>
    <!-- ................................................................... -->
    <xs:element name="OrdinalFeature" type="igctx:OrdinalFeature_Type" substitutionGroup="igctx:AbstractRangedGeometricFeature" />
    <!-- ................................................................... -->
    <xs:complexType name="OrdinalFeature_PropertyType">
        <xs:sequence minOccurs="0">
            <xs:element ref="igctx:OrdinalFeature" />
        </xs:sequence>
        <xs:attributeGroup ref="gco:ObjectReference" />
        <xs:attribute ref="gco:nilReason" />
    </xs:complexType>
    <!-- =================================================================== -->
    <xs:complexType name="ScalarFeature_Type">
        <xs:complexContent>
            <xs:extension base="igctx:AbstractRangedGeometricFeature_Type">
                <xs:sequence>
                    <xs:element name="units" type="gco:CharacterString_PropertyType" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- ................................................................... -->
    <xs:element name="ScalarFeature" type="igctx:ScalarFeature_Type" substitutionGroup="igctx:AbstractRangedGeometricFeature" />
    <!-- ................................................................... -->
    <xs:complexType name="ScalarFeature_PropertyType">
        <xs:sequence minOccurs="0">
            <xs:element ref="igctx:ScalarFeature" />
        </xs:sequence>
        <xs:attributeGroup ref="gco:ObjectReference" />
        <xs:attribute ref="gco:nilReason" />
    </xs:complexType>
    <!-- =================================================================== -->
    <xs:complexType name="OtherFeature_Type">
        <xs:complexContent>
            <xs:extension base="igctx:AbstractGeometricFeature_Type" />
        </xs:complexContent>
    </xs:complexType>
    <!-- ................................................................... -->
    <xs:element name="OtherFeature" type="igctx:OtherFeature_Type" substitutionGroup="igctx:AbstractGeometricFeature" />
    <!-- ................................................................... -->
    <xs:complexType name="OtherFeature_PropertyType">
        <xs:sequence minOccurs="0">
            <xs:element ref="igctx:OtherFeature" />
        </xs:sequence>
        <xs:attributeGroup ref="gco:ObjectReference" />
        <xs:attribute ref="gco:nilReason" />
    </xs:complexType>
    <!-- =================================================================== -->
    <xs:complexType name="AbstractRangedGeometricFeature_Type" abstract="true">
        <xs:complexContent>
            <xs:extension base="igctx:AbstractGeometricFeature_Type">
                <xs:sequence>
                    <xs:element name="minValue" type="gco:CharacterString_PropertyType" minOccurs="0" />
                    <xs:element name="maxValue" type="gco:CharacterString_PropertyType" minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- ................................................................... -->
    <xs:element name="AbstractRangedGeometricFeature" type="igctx:AbstractRangedGeometricFeature_Type" abstract="true" substitutionGroup="igctx:AbstractGeometricFeature" />
    <!-- ................................................................... -->
    <xs:complexType name="RangedGeometricFeature_PropertyType">
        <xs:sequence minOccurs="0">
            <xs:element ref="igctx:AbstractRangedGeometricFeature" />
        </xs:sequence>
        <xs:attributeGroup ref="gco:ObjectReference" />
        <xs:attribute ref="gco:nilReason" />
    </xs:complexType>
    <!-- =================================================================== -->
    <xs:complexType name="FeatureAttributes_Type">
        <xs:complexContent>
            <xs:extension base="gco:AbstractObject_Type">
                <xs:sequence>
                    <xs:element name="attribute" type="igctx:FeatureAttribute_PropertyType" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- ................................................................... -->
    <xs:element name="FeatureAttributes" type="igctx:FeatureAttributes_Type" />
    <!-- ................................................................... -->
    <xs:complexType name="FeatureAttributes_PropertyType">
        <xs:sequence minOccurs="0">
            <xs:element ref="igctx:FeatureAttributes" />
        </xs:sequence>
        <xs:attributeGroup ref="gco:ObjectReference" />
        <xs:attribute ref="gco:nilReason" />
    </xs:complexType>
    <!-- =================================================================== -->
    <xs:complexType name="AbstractFeatureAttribute_Type" abstract="true">
        <xs:complexContent>
            <xs:extension base="gco:AbstractObject_Type">
                <xs:sequence>
                    <xs:element name="attributeDescription" type="gco:CharacterString_PropertyType" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- ................................................................... -->
    <xs:element name="AbstractFeatureAttribute" type="igctx:AbstractFeatureAttribute_Type" abstract="true" />
    <!-- ................................................................... -->
    <xs:complexType name="FeatureAttribute_PropertyType">
        <xs:sequence minOccurs="0">
            <xs:element ref="igctx:AbstractFeatureAttribute" />
        </xs:sequence>
        <xs:attributeGroup ref="gco:ObjectReference" />
        <xs:attribute ref="gco:nilReason" />
    </xs:complexType>
    <!-- =================================================================== -->
    <xs:complexType name="RegularFeatureAttribute_Type">
        <xs:complexContent>
            <xs:extension base="igctx:AbstractFeatureAttribute_Type">
                <xs:sequence>
                    <xs:element name="attributeCode" type="gco:CharacterString_PropertyType" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- ................................................................... -->
    <xs:element name="RegularFeatureAttribute" type="igctx:RegularFeatureAttribute_Type" substitutionGroup="igctx:AbstractFeatureAttribute" />
    <!-- ................................................................... -->
    <xs:complexType name="RegularFeatureAttribute_PropertyType">
        <xs:sequence minOccurs="0">
            <xs:element ref="igctx:RegularFeatureAttribute" />
        </xs:sequence>
        <xs:attributeGroup ref="gco:ObjectReference" />
        <xs:attribute ref="gco:nilReason" />
    </xs:complexType>
    <!-- =================================================================== -->
    <xs:complexType name="OtherFeatureAttribute_Type">
        <xs:complexContent>
            <xs:extension base="igctx:AbstractFeatureAttribute_Type">
                <xs:sequence>
                    <xs:element name="attributeContent" type="gco:CharacterString_PropertyType" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- ................................................................... -->
    <xs:element name="OtherFeatureAttribute" type="igctx:OtherFeatureAttribute_Type" substitutionGroup="igctx:AbstractFeatureAttribute" />
    <!-- ................................................................... -->
    <xs:complexType name="OtherFeatureAttribute_PropertyType">
        <xs:sequence minOccurs="0">
            <xs:element ref="igctx:OtherFeatureAttribute" />
        </xs:sequence>
        <xs:attributeGroup ref="gco:ObjectReference" />
        <xs:attribute ref="gco:nilReason" />
    </xs:complexType>
    <!-- =================================================================== -->
</xs:schema>
